<!doctype html>
<html lang="en">
<head>
  <% include ../views/partials/head %>
</head>
<body class ="container">

  <header>
      <% include ../views/partials/header %>
  </header>

  <main>

      <div class="jumbotron">
        <h3> Welcome <%= hands.username %>
        </h3>
      </div>

    <div class="jumbotron">
      <form action='/addproperty' method='post' id='form1'>
          <label for="location"> Location:
            <input type = 'text' name ='location'>
          </label>
          <label for="description"> Description:
            <input type = 'text' name ='description'>
          </label>
          <label for="price"> Price:
            <input type = 'text' name ='price'>
          </label>
          <br>
          <br>
          <br>
          <input type = 'submit' value ='Add!'>
        </span>
      </form>
    </div>
  </main>
  <footer>
      <% include ../views/partials/footer %>
  </footer>

</body>
</html>
