<!doctype html>
<html lang="en">
<head>
  <title>MakersBnB</title>
  <!-- <link rel="stylesheet" href="css/styles.css?v=1.0"> -->
</head>
<body>
  <form action='/addproperty' method='post' id='form1'>
    Name: <input type = 'text' name ='name'>
    Location: <input type = 'text' name ='location'>
    Description: <input type = 'text' name ='description'>
    Price: <input type = 'text' name ='price'>
    <input type = 'submit' value ='Add!'>
  <!-- </form>
  <button type="submit" form="form1" value='Submit'>Add!</button> -->


</body>
</html>
