<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../views/partials/head %>
</head>
<body class="container">

    <header>
        <% include ../views/partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Welcome to Legend BnB </h1>
            <p>Log in and open up the world:</p>
        </div>
    </main>

    <footer>
        <% include ../views/partials/footer %>
    </footer>

</body>
</html>
