<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../views/partials/head %>
</head>
<body class="container">

    <header>
        <% include ../views/partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Welcome to Legend BnB <%= data.username %> </h1>
            <p>Log in and open up the world:</p>
        </div>

        <div class="jumbotron">
       <h4> Wouuld you like to view available properties?</h4>

               <form action = '/propertylist' >
               <input type='submit' value = "View Properties">
               </form>
          </div>


    </main>

    <footer>
        <% include ../views/partials/footer %>
    </footer>

</body>
</html>
