<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../views/partials/head %>
</head>
<body class="container">
    <header>
        <% include ../views/partials/header %>
    </header>
    <main>
        <div class="jumbotron">
            <h2>You Must be Logged in to Add a Property </h2>
        </div>
        <div class="jumbotron">
       <h4> Go through to login</h4>
               <form action = '/' >
               <input type='submit' value = "Login">
               </form>
          </div>
    </main>
    <footer>
        <% include ../views/partials/footer %>
    </footer>
</body>
</html>
