<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>MakersBnB</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">
  <!-- <link rel="stylesheet" href="css/styles.css?v=1.0"> -->
</head>
<body>
    <ol>
      <!-- reverse order to show most recent first -->
  <% propAll.reverse().forEach(function (house) { %>

        <li><%= house.location %><br>
        <%= house.description %><br>
        <%= house.price %> </li><br>

<% }) %>
</ol>
</body>
</html>
