<!doctype html>
<html lang="en">
<head>
  <% include ../views/partials/head %>
</head>
<body class="container">

  <header>
      <% include ../views/partials/header %>
  </header>

    <main>
      <div class="jumbotron">
        <h4> Would You Like to List a Property?</h4>
          <form action = '/addproperty' method = "get" >
            <input type='submit' name='addproperty' value ="Add Property">
          </form>
        </div>

      <div class="jumbatron">
        <ol id=ol>
          <% propAll.reverse().forEach(function (house) { %>

            <li><%= house.location %><br>
              <%= house.description %><br>
              <%= house.price %> </li><br>
          <% }) %>
        </ol>
      </div>
    </main>

    <footer>
        <% include ../views/partials/footer %>
    </footer>
</body>
</html>
