<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>MakersBnB</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">
  <!-- <link rel="stylesheet" href="css/styles.css?v=1.0"> -->
</head>
<body>

<p> name: <%= data.name %> </p>
<p> location: <%= data.location %> </p>
<p> description: <%= data.description %> </p>
<p> price: <%= data.price %> </p>
</body>
</html>
